sw0501/*.pptx
sw0501/room_test/linux_build_test.app/Contents/Frameworks/libmonobdwgc-2.0.dylib
sw0501/room_test/linux_build_test.app/Contents/Frameworks/UnityPlayer.dylib
sw0501/room_test/linux_build_test.app/Contents/Resources/unity default resources
sw0501/room_test/linux_build_test.app/Contents/Resources/Data/sharedassets0.assets
sw0501/room_test/linux_build_test.app/Contents/Resources/Data/Managed/mscorlib.dll
sw0501/room_test/linux_build_test.app/Contents/Resources/Data/Managed/System.Data.dll
sw0501/room_test/linux_build_test.app/Contents/Resources/Data/Managed/System.dll
sw0501/room_test/linux_build_test.app/Contents/Resources/Data/Managed/System.Xml.dll

cu29635/room+game/Assets/Photon/PhotonNetworking-Documentation.pdf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Black.otf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Bold.otf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Light.otf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Medium.otf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Regular SDF.asset
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Regular.otf
cu29635/room+game/Assets/TextMesh Pro/Fonts/NotoSansKR-Thin.otf
cu29635/room+game/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
cu29635/room+game/buildTest/UnityPlayer.dll
cu29635/room+game/buildTest/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
cu29635/room+game/buildTest/room_test_Data/sharedassets0.assets
cu29635/room+game/buildTest/room_test_Data/Managed/mscorlib.dll
cu29635/room+game/buildTest/room_test_Data/Managed/System.Data.dll
cu29635/room+game/buildTest/room_test_Data/Managed/System.dll
cu29635/room+game/buildTest/room_test_Data/Managed/System.Xml.dll
cu29635/room+game/buildTest/room_test_Data/Resources/unity default resources
cu29635/room+game/linux_build_test.app/Contents/Frameworks/libmonobdwgc-2.0.dylib
cu29635/room+game/linux_build_test.app/Contents/Frameworks/UnityPlayer.dylib
cu29635/room+game/linux_build_test.app/Contents/Resources/unity default resources
cu29635/room+game/linux_build_test.app/Contents/Resources/Data/sharedassets0.assets
cu29635/room+game/linux_build_test.app/Contents/Resources/Data/Managed/mscorlib.dll
cu29635/room+game/linux_build_test.app/Contents/Resources/Data/Managed/System.Data.dll
cu29635/room+game/linux_build_test.app/Contents/Resources/Data/Managed/System.dll
cu29635/room+game/linux_build_test.app/Contents/Resources/Data/Managed/System.Xml.dll

cu29635/stack-over-sky-cu29635/Library/ArtifactDB
cu29635/stack-over-sky-cu29635/Library/Bee/200b0aE.dag
cu29635/stack-over-sky-cu29635/Library/Bee/200b0aE.dag.json
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-10.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-11.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-43FFF67504C1B77C_12.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-43FFF67504C1B77C_13.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-B4B9E3881B00232E_11.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-B4B9E3881B00232E_12.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/burst-llvm-B4B9E3881B00232E_13.dll
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/libburst-llvm-10.dylib
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/libburst-llvm-11.dylib
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/libburst-llvm-11.so
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/libburst-llvm-8.dylib
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/dsymutil
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/dsymutil
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostwin/dsymutil.exe
cu29635/stack-over-sky-cu29635/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostwin/lld.exe

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties